# Python cache files
__pycache__/
*.pyc

# pytest cache
.pytest_cache/

# PyInstaller build files
build/
dist/
*.spec
*.iss

# Doxygen output
doc/
html/
latex/

# Files not to be included in the repository
odevzdani.txt
#virtual env for binary files
venv/
src/exec.sh
requirements.txt
